@import 'reset';
@import 'variables/global';
@import './themes/dark';
@import './themes/normal';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@0,400;0,600;1,400;1,600&display=swap');

.app {
    background: var(--bg-color);
    display: flex;
}

body {
    color: var(--primary-color);
    font: var(--font-m);
    overflow: hidden;
}

.content-page {
    flex-grow: 1;
}

.page-wrapper {
    height: calc(100vh - var(--nav-height));
    padding: 2rem;
    overflow-y: scroll;
    display: flex;
    justify-content: center;
}
