.LoginForm {
    display: flex;
    flex-direction: column;
    width: 400px;
}

.label {
    margin-top: 22px;
}

.subtitle {
    margin-top: 12px;
}

.loginBtn {
    margin-top: 22px;
}

.error {
    margin-top: 22px;
}
