:root {
    --font-family-main: 'Inter', sans-serif;
    --font-family-serif: serif;
    --letter-spacing: -0.03em;
    --font-size-sm: 14px;
    --font-line-sm: 21px;
    --font-sm: var(--font-size-sm) / var(--font-line-sm) var(--font-family-main);
    --font-size-m: 16px;
    --font-line-m: 24px;
    --font-m: var(--font-size-m) / var(--font-line-m) var(--font-family-main);
    --font-size-l: 24px;
    --font-line-l: 32px;
    --font-l: var(--font-size-l) / var(--font-line-l) var(--font-family-main);
    --font-size-xl: 35px;
    --font-line-xl: 41px;
    --font-xl: var(--font-size-xl) / var(--font-line-xl) var(--font-family-main);

    // Size
    --nav-height: 50px;
    --sidebar-width: 6rem;
    --sidebar-width-collapsed: 15rem;

    // Other
    --border-radius-m: 0.5rem;
    --border-radius-l: 2em;

    // Transition
    --transition: 0.2s linear;
}
