:root {
    --font-family-main: 'SF Pro Display', sans-serif;
    --font-family-serif: 'Source Serif Pro', serif;
    --letter-spacing: -0.03em;
    --font-size-s: 14px;
    --font-line-s: 21px;
    --font-s: var(--font-size-s) / var(--font-line-s) var(--font-family-main);
    --font-size-m: 16px;
    --font-line-m: 24px;
    --font-m: var(--font-size-m) / var(--font-line-m) var(--font-family-main);
    --font-size-l: 20px;
    --font-line-l: 28px;
    --font-l: var(--font-size-l) / var(--font-line-l) var(--font-family-main);
    --font-size-xl: 24px;
    --font-line-xl: 32px;
    --font-xl: var(--font-size-xl) / var(--font-line-xl) var(--font-family-main);
    --font-size-xxl: 35px;
    --font-line-xxl: 41px;
    --font-xxl: var(--font-size-xxl) / var(--font-line-xxl)
        var(--font-family-main);

    // Size
    --nav-height: 70px;
    --sidebar-width: 6rem;
    --sidebar-width-collapsed: 15rem;
    --main-content-width: 970px;

    // Other
    --border-radius-m: 0.5rem;
    --border-radius-l: 0.75rem;
    --border-radius-xl: 2em;

    // Transition
    --transition: 0.2s linear;

    // z Indexes
    --modal-z-index: 10;
    --sidebar-btn-z-index: 9;

    // Colors
    --overlay-color: rgba(31, 32, 34, 0.5);
    --error-color-dark: #c50000;
    --error-color-bg: rgba(238, 0, 0, 0.1);
    --error-color-border: #e00;

    //Gradient
    --profile-gradient: linear-gradient(
        to right,
        rgb(167, 112, 239),
        rgb(207, 139, 243),
        rgb(253, 185, 155)
    );

    // States
    --focused-accent-shadow: 0px 0px 2px 2px rgba(0, 133, 255, 0.15);
    --focused-accent-border: 1.5px solid #0085ff;
}
