// DEFAULT

.text {
    color: var(--secondary-color);
}

// SIZE

.size_sm {
    .title {
        font: var(--font-m);
    }

    .text {
        font: var(--font-s);
    }
}

.size_m {
    .title {
        font: var(--font-xl);
    }

    .text {
        font: var(--font-m);
    }
}

.size_l {
    .title {
        font: var(--font-xxl);
        font-weight: 700;
    }

    .text {
        font: var(--font-l);
    }
}

//COLORS

.secondary_color {
    color: var(--secondary-color);
}

.primary_color {
    color: var(--primary-color);
}

//ALIGNMENT

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.center {
    text-align: center;
}

.weight_default {
    .title {
        font-weight: 600;
    }
}

// WEIGHT

.weight_medium {
    .title {
        font-weight: 500;
    }

    .text {
        font-weight: 500;
    }
}

.weight_semibold {
    .title {
        font-weight: 600;
    }

    .text {
        font-weight: 600;
    }
}

.weight_bold {
    .title {
        font-weight: 700;
    }

    .text {
        font-weight: 700;
    }
}

// STATES

.error {
    .title {
        color: var(--error-color-dark);
    }

    .text {
        color: var(--error-color-dark);
    }
}

// FONT

.serif {
    .text {
        font-family: var(--font-family-serif);
        letter-spacing: -0.003em;
    }
}
