.title {
    font-weight: 600;
}

.size_sm {
    .title {
        font: var(--font-m);
    }

    .text {
        font: var(--font-sm);
    }
}

.size_m {
    .title {
        font: var(--font-l);
        font-weight: 700;
    }

    .text {
        font: var(--font-m);
    }
}

.secondary_color {
    color: var(--secondary-color);
}

.primary-color {
    color: var(--primary-color);
}

.size_xl {
    .title {
        font: var(--font-xl);
        font-weight: 700;
    }

    .text {
        font-size: 1.25rem;
        line-height: 1.75em;
    }
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.center {
    text-align: center;
}

.error {
    .title {
        color: var(--error-color-dark);
    }

    .text {
        color: var(--error-color-dark);
    }
}
