.Button {
    cursor: pointer;
    font: var(--font-m);
    height: fit-content;
    background-color: var(--primary-color);
    color: var(--bg-color);
    border: none;
    padding: 0.75em 1.3em;
    border-radius: 2em;
    font-weight: 600;
    box-shadow: var(--box-shadow);
    transition: opacity var(--transition);

    &:hover {
        opacity: 0.8;
    }
}

.size_sm {
    padding: 0.75em 1em;
    border-radius: var(--border-radius-m);
    font: var(--font-sm);
    font-weight: 600;
}

.clear {
    padding: 0;
    border: none;
    background: none;
    outline: none;
    color: var(--primary-color);
}

.outline {
    border: 1px solid var(--stroke-color);
    background-color: transparent;
    color: var(--primary-color);
}

.stretch {
    padding: 0.7em;
    width: 100%;
    border-radius: var(--border-radius-m);
    font: var(--font-sm);
    font-weight: 600;
}

.disabled {
    background-color: var(--quatinary-color);
}

.square {
    padding: 0;
    font: var(--font-m);
    color: var(--quatinary-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.square.size_m {
    width: var(--font-line-m);
    height: var(--font-line-m);
    border-radius: 0.5rem;
}

.square.size_l {
    width: var(--font-line-l);
    height: var(--font-line-l);
    border-radius: 0.5rem;
}

.square.size_xl {
    width: var(--font-line-xl);
    height: var(--font-line-xl);
    border-radius: 0.5rem;
}
