.Button {
    cursor: pointer;
    font: var(--font-m);
    height: fit-content;
    background-color: var(--primary-color);
    color: var(--bg-color);
    border: none;
    padding: 0.5em 1em;
    border-radius: 2em;
    font-weight: 600;
    transition: background var(--transition), transform var(--transition),
        box-shadow var(--transition);

    &:active {
        transform: scale(0.95);
    }

    &:hover {
        box-shadow: var(--box-shadow);
        background-color: var(--secondary-color);
    }
}

.size_sm {
    padding: 0.75em 1em;
    border-radius: var(--border-radius-m);
    font: var(--font-s);
    font-weight: 600;
}

.clear {
    padding: 0;
    border: none;
    background: none;
    outline: none;
    color: var(--primary-color);

    &:hover {
        background-color: transparent;
        box-shadow: none;
    }
}

.outline {
    border: 1px solid var(--stroke-color);
    background-color: transparent;
    color: var(--primary-color);

    &:hover {
        background-color: var(--secondary-bg-color);
    }
}

.stretch {
    padding: 0.7em;
    width: 100%;
    border-radius: var(--border-radius-m);
    font: var(--font-s);
    font-weight: 600;
}

.disabled {
    background-color: var(--quatinary-color);
}

.square {
    padding: 0;
    font: var(--font-m);
    color: var(--quatinary-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.square.size_m {
    width: var(--font-line-l);
    height: var(--font-line-l);
    border-radius: 0.5rem;
}

.square.size_l {
    width: var(--font-line-xl);
    height: var(--font-line-xl);
    border-radius: 0.5rem;
}

.square.size_xl {
    width: var(--font-line-xxl);
    height: var(--font-line-xxl);
    border-radius: 0.5rem;
}
