.Sidebar {
    width: var(--sidebar-width);
    height: 100vh;
    border-right: 1px solid var(--stroke-light-color);
    transition: width 0.2s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem 0;
    position: relative;
}

.links {
    display: flex;
    flex-direction: column;
}

.collapsedBtn {
    position: absolute;
    right: -60px;
    bottom: 40px;
}

.collapsed {
    width: var(--sidebar-width-collapsed);
    align-items: flex-start;
}
