.linkInner {
    width: 0;
    opacity: 0;
    color: var(--quatinary-color);
    transition: width var(--transition), opacity var(--transition);
}

.mainLink {
    width: min-content;
    display: flex;
    align-items: center;
    gap: 0;
    padding: 0.75rem;
    margin-left: 1rem;
    border-radius: var(--border-radius-m);
    transition: background-color var(--transition), gap var(--transition);

    svg {
        min-width: 30px;
    }

    path {
        stroke: var(--tertiary-color);
    }

    &:hover {
        background-color: var(--bg-color-hover);
    }
}

.collapsed {
    .linkInner {
        width: 100%;
        opacity: 1;
    }

    .mainLink {
        gap: 0.5rem;
        width: 100%;
    }
}
