.linkInner {
    width: 0;
    opacity: 0;
    color: var(--quatinary-color);
    transition: width var(--transition), opacity var(--transition),
        margin var(--transition);
    max-height: var(--font-line-m);
    margin-left: 0rem;
}

.mainLink {
    display: flex;
    align-items: center;
    padding: 0.75rem;
    margin-left: 1rem;
    font: var(--font-m);
    font-weight: 500;
    width: min-content;
    border-radius: var(--border-radius-m);
    transition: background-color var(--transition), gap var(--transition);

    svg {
        min-width: 24px;
        path {
            fill: var(--secondary-color);
        }
    }

    &:hover {
        background-color: var(--bg-color-hover);
    }
}

.collapsed {
    width: 100%;

    .linkInner {
        width: 100%;
        opacity: 1;
        margin-left: 0.5rem;
    }

    .mainLink {
        width: 100%;
    }
}
