.popup {
    position: relative;
    color: var(--primary-color);
}

.active {
    background-color: var(--secondary-bg-color);
}

.directionTopLeft {
    left: 0;
    bottom: 100%;
}

.directionTopRight {
    right: 0;
    bottom: 100%;
}

.directionBottomLeft {
    top: 100%;
    left: 0;
}

.directionBottomRight {
    top: 100%;
    right: 0;
}

.readonly {
    pointer-events: none;
    background-color: var(--secondary-bg-color) !important;
    color: var(--secondary-color);
}

.btn {
    background: none;
    outline-color: transparent;
    margin: 0;
    padding: 0;
    border: none;
    cursor: pointer;
}
