.Input {
    font: var(--font-sm);
    border-radius: var(--border-radius-m);
    padding: 0.5em 0.75em;
    color: var(--color-primary);
    outline: none;
    transition: box-shadow var(--transition), border var(--transition);
    border: 1px solid transparent;

    &::placeholder {
        color: var(--tertiary-color);
    }

    &:focus {
        box-shadow: var(--focused-accent-shadow);
        border: var(--focused-accent-border);
    }

    &:hover {
        box-shadow: var(--focused-accent-shadow);
    }
}

.primary_theme {
    border: 1px solid var(--stroke-color);
    background-color: transparent;
}

.base_theme {
    background-color: var(--secondary-bg-color);
}

.readonly {
    background-color: var(--secondary-bg-color);
    color: var(--quatinary-color);

    &:focus {
        box-shadow: unset;
        border: 1px solid var(--stroke-color);
    }

    &:hover {
        box-shadow: unset;
    }
}
