.Input {
    font: var(--font-sm);
    border: 1px solid var(--stroke-color);
    border-radius: var(--border-radius-m);
    padding: 0.625em 0.75em;
    background-color: transparent;
    color: var(--color-primary);
    outline: none;

    &::placeholder {
        color: var(--secondary-color);
    }

    &:focus {
        box-shadow: var(--focused-accent-shadow);
        border: var(--focused-accent-border);
    }
}
