.LangSwitcher {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    flex-direction: column;
    justify-content: center;
    color: var(--secondary-color);
    min-width: 100%;
    box-shadow: none;

    svg {
        fill: var(--tertiary-color);
    }
}

.collapsed {
    flex-direction: row;
}
