.app.dark {
    --bg-color: #171717;
    --secondary-bg-color: #212221;
    --stroke-color: #505050;
    --stroke-light-color: #505050;
    --primary-color: #fff;
    --primary-variant-color: #0063db;
    --secondary-color: #8b8b8b;
}
