.app_dark_theme {
    --bg-color: #171717;
    --bg-color-hover: #2e2e2e;
    --secondary-bg-color: #212221;
    --stroke-color: #505050;
    --stroke-light-color: #313131;
    --primary-color: #fff;
    --primary-color-hover: #f6f6f6;
    --primary-variant-color: #105dfb;
    --secondary-color: #8b8b8b;
    --tertiary-color: #5a5c60;
}
