.app_light_theme {
    --bg-color: #fff;
    --bg-color-hover: #f6f6f6;
    --secondary-bg-color: #f2f2f2;
    --stroke-color: #e6e6e6;
    --stroke-light-color: #f2f2f2;
    --primary-color: #171717;
    --primary-color-hover: #404040;
    --primary-variant-color: #105dfb;
    --quatinary-color: #5a5c60;
    --secondary-color: #5f5f61;
    --tertiary-color: #a1a0a3;
}
