.app.light {
  --bg-color: #ffffff;
  --secondary-bg-color: #f2f2f2;

  --stroke-color: #e6e6e6;
  --stroke-light-color: #f2f2f2;

  --primary-color: #171717;
  --primary-variant-color: #0063db;
  --secondary-color: #757575;
}
