.Navbar {
    width: 100%;
    height: var(--nav-height);
    border-bottom: 1px solid var(--stroke-light-color);
    display: flex;
    align-items: center;
    padding: 20px;
    gap: 1rem;
}

.mainLink {
    margin-right: 15px;
}

.writeBtn {
    margin-left: auto;
    display: flex;
    gap: 0.5rem;
}
