.Navbar {
    width: 100%;
    height: var(--nav-height);
    border-bottom: 1px solid var(--stroke-light-color);
    display: flex;
    align-items: center;
    padding: 20px;
    justify-content: flex-end;
    gap: 0.75rem;
}

.mainLink {
    margin-right: 15px;
}
