.ProfileCard {
    padding: 22px;
    border: 1px solid var(--color-stroke);
}

.header {
    display: flex;
}

.editBtn {
    margin-left: auto;
}

.data {
    margin-top: 50px;
}

.input {
    margin-top: 10px;
}
