.avatarWrapper {
    display: flex;
    width: 100%;
    justify-content: center;
}

.row {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    border-bottom: 1px solid var(--stroke-color);
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.data {
    margin-top: 1.5rem;
}
