.AppLink {
    color: var(--primary-color);
    text-decoration: none;
    font-weight: 500;
    transition: opacity var(--transition);

    &:hover {
        opacity: 0.8;
    }
}

.primary {
    color: var(--primary-color);
}

.primary_variant {
    color: var(--primary-variant-color);
    font: var(--font-sm);
    font-weight: 500;
}
